# Auto detect text files and perform LF normalization
*          text=auto
#
# The above will handle all files NOT found below
#

# Documents
*.md       text diff=markdown
*.mdx      text diff=markdown
# Documentation
AUTHORS           text
CHANGELOG         text
CHANGES           text
CONTRIBUTING      text
COPYING           text
*COPYRIGHT*       text
INSTALL           text
LICENSE           text
NEWS              text
*README*          text
TODO              text

# Configs
package.json      text eol=lf
package-lock.json text eol=lf -diff

#
# Exclude files from exporting
#
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
